<a href="https://colab.research.google.com/github/1512dongdong/2022Python-after_school/blob/main/1512%EC%9B%90%EB%8F%99%ED%98%B8_%EB%B0%98_%EB%B2%88%ED%98%B8_%EC%9D%B4%EB%A6%84_2%ED%95%99%EA%B8%B0_%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D_%EC%88%98%ED%96%89_%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. print 탭과 줄바꿈의 문제입니다. 
   다음 문장을 보고 똑같이 출력이 될 수있도록 프로그램을 하시오.
   
"우리들은 모두

무엇이 되고 싶다.

너는 나에게 나는 너에게

잊혀지지 않는 하나의 향기가 되고 싶다."

In [ ]:
print(""'"우리들은 모두\n\n무엇이 되고 싶다.\n\n너는 나에게 나는 너에게\n\n잊혀지지 않는 하나의 향기가 되고 싶다."'" ")

"우리들은 모두

무엇이 되고 싶다.

너는 나에게 나는 너에게

잊혀지지 않는 하나의 향기가 되고 싶다."

2. 문자열 '1230'을(num_str ="1230") 정수형으로 변환한 후 2000이 출력되게 프로그래밍 하시오.

In [ ]:
a = '1230'
a = int(a)
print(a+770)

2000

3. 문자열 슬라이싱에 관련된 문제입니다.
   코로나에 걸린 사람이 병원에 주민번호를 등록하려고 합니다. 주민번호를 입력받아 앞자리 생년월일(6자리)만 출력되게 프로그래밍 하세요.

In [ ]:
a = '810919-1058914' 
print( a[0:6] )

810919

4. replace 메서드를 이용해서 아래 문자열에서  소문자 'a' 를 대문자 'A'로 변경하는 프로그래밍을 작성하시오.
   
   
   string = 'abcdfe2a354a32a'

In [ ]:
string = 'abcdfe2a354a32a'
string = string.replace( 'a', 'A')
print(string)

Abcdfe2A354A32A

5. 사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 대문자 일 경우, 소문자로 변경해서 출력하라.

(꼭 islower()함수 사용)

In [ ]:
a = "APPLE" 
a = a.lower()
print(a)

a = "apple"
a = a.upper()
print(a)

apple
APPLE

6.movie_rank 리스트에서 '스플릿'를 삭제하고 

'공조2'를 '럭키'와 '배트맨' 사이에 추가하라.


movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [ ]:
from pickle import APPEND
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
movie_rank.insert(4, "공조2")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨', '공조2']

7.inventory 딕셔너리에서 메로나의 가격을 화면에 출력하라.

inventory = 
            {"쌍쌍바": [300, 20],

            "메로나": [400, 3],

              "죠스바": [250, 100],
              
              "월드콘": [1500, 20]}

In [ ]:
inventory = {'메로나':400,
             '죠스바':250,
             '월드콘':1500}


print("메로나 가격: ", inventory["메로나"])

메로나 가격:  400

8. 사용자로 입력받은 단어가 아래 fruit 리스트에 포함되어 있는지를 확인하라. 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = ["사과", "포도", "홍시", "복숭아"]

In [ ]:
fruit = ["사과", "포도", "홍시", "복숭아"]
user = input("좋아하는 과일은?")
if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은?사과
정답입니다.

9. 사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성하라. 각 통화별 환율은 다음과 같다.

환율 = {"달러": 1400, 
        "엔": 1096, 
        "유로": 1268, 
        "위안": 171}

다음 자료 환율을 사용하여 샘플로 "200 달러" 입력한다고 가정한다. 

ex) 입력 :200 달러 - (        작성해주세요.          )

In [ ]:
환율 = {"달러": 1400, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
user = input("입력: ")
num, currency = user.split()
print(float(num) * 환율[currency], "원")

입력: 200 달러
280000.0 원

10. 변수를 사용하여 for문으로 작성하라. 숫자라는 변수를 선언하고(10,20,30,...,100)을 출력하시오.

In [ ]:
for 변수 in [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]:
  print(변수)

10
20
30
40
50
60
70
80
90
100

11.  문자열 "49.195"를 실수(float)타입으로 변환해보세요.

In [ ]:
a =  "49.195"
a = float(a)
print(a, type(a))

49.195 <class 'float'>

12. 아래의 전화번호에서 하이픈('-')을 제거하고 출력하세요.(replace 사용 가능)
    phone_num = "010-1234-5678"
    출력 예) 01012345678

In [ ]:
phone_num = "010-1234-5678" 
phone_num = phone_num.replace('-', '')
print( phone_num )

01012345678